<!DOCTYPE html>
<html class="dark" lang="en"><head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>{{ if .Title }}{{ .Title }} - {{ end }}{{ .Site.Title }}</title>
    <meta name="description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
    
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="96x96" href="{{ "favicon-96x96.png" | relURL }}">
    <link rel="shortcut icon" href="{{ "favicon.ico" | relURL }}">
    <link rel="apple-touch-icon" href="{{ "apple-touch-icon.png" | relURL }}">
    
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,container-queries"></script>
    <link href="https://fonts.googleapis.com" rel="preconnect"/>
    <link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect"/>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&amp;display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    
    <link rel="stylesheet" href="{{ "css/lines.css" | relURL }}">
    <link rel="stylesheet" href="{{ "css/main.css" | relURL }}">
    <script>
        tailwind.config = {
            darkMode: "class",
            theme: {
                extend: {
                    colors: {
                        "background-light": "#F3F4F6", // A light gray for the light mode background
                        "background-dark": "#2F2F2F", // A medium-dark gray for the dark mode background
                        "text-light": "#1F2937", // A dark gray for text in light mode
                        "text-dark": "#E5E7EB", // A light gray for text in dark mode
                    },
                    fontFamily: {
                        'display': ['Space Mono', 'monospace'],
                    },
                },
            },
        };
    </script>
</head>
<body class="bg-background-light dark:bg-background-dark text-text-light dark:text-text-dark font-display">

    {{ partial "header.html" . }}

    {{ block "main" . }}{{end}}

    {{ partial "footer.html" . }}
    
    <!-- Basic JavaScript -->
    <script src="{{ "js/main.js" | relURL }}"></script>
</body></html>