        <svg class="background-graphic text-gray-500/20 dark:text-gray-400/10" fill="none" height="400" stroke="currentColor" stroke-width="1" viewBox="0 0 200 200" width="400" xmlns="http://www.w3.org/2000/svg">
            <path d="M100 0 L200 50 L100 100 L0 50 Z"></path>
            <path d="M100 100 L200 150 L100 200 L0 150 Z"></path>
            <path d="M50 25 L150 75"></path>
            <path d="M50 125 L150 175"></path>
            <path d="M100 50 L150 25"></path>
            <path d="M50 75 L0 50"></path>
            <path d="M100 150 L50 175"></path>
            <path d="M150 125 L200 150"></path>
        </svg>