{{ define "main" }}
    
<main class="container mx-auto px-6 pt-24 pb-12 relative">
    <div class="relative z-10">
        <section class="text-center pb-16 fade-in-up delay-1">
            <img class="size-24 rounded-full object-cover aspect-square mx-auto mb-12" src="{{ "images/bw-profile.jpeg" | relURL }}" alt="Line drawing of profile pic">
            
            <h1 class="text-2xl md:text-3xl font-bold">{{ .Site.Title }}</h1>
        </section>
        <div class="relative fade-in-up delay-2">
            <div class="lines h-[410px]">
                <div class="line-box">
                    <div class="line r h"></div>
                    <div class="line r h t"></div>
                </div>
                <div class="break">
                </div>
                <div class="line-box l">
                    <div class="line f r"></div>
                    <div class="line f l"></div>
                </div>
                <div class="line-box">
                    <div class="line f r"></div>
                    <div class="line f l"></div>
                </div>
                <div class="line-box">
                    <div class="line f r"></div>
                    <div class="line f l"></div>
                </div>
                <div class="line-box">
                    <div class="line f r"></div>
                    <div class="line f l"></div>
                </div>
                <div class="line-box">
                    <div class="line f r"></div>
                    <div class="line l h t"></div>
                </div>
            </div>
            <div class="w-2/3 md:w-1/3 mx-auto border-t border-gray-400 dark:border-gray-600 my-16"></div>
        </div>
        
    {{ if .Content }}    
    <div class="content">
        {{ .Content }}
    </div>
    {{ end }}

    </div>
</main>

{{ end }}