{{ define "main" }}
<div class="home">
    <h1>{{ .Site.Title }}</h1>
    {{ if .Site.Params.description }}
    <p class="description">{{ .Site.Params.description }}</p>
    {{ end }}
    
    {{ if .Content }}    
    <div class="content">
        {{ .Content }}
    </div>
    {{ end }}
    
    <!-- {{ if .Site.RegularPages }}
    <h2>Recent Posts</h2>
    <ul class="post-list">
        {{ range first 5 .Site.RegularPages }}
        <li>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
            <span class="date">{{ .Date.Format "January 2, 2006" }}</span>
        </li>
        {{ end }}
    </ul>
    {{ end }} -->
</div>
{{ end }}
