<div class="relative fade-in-up delay-2">
    <div class="lines h-[410px]">
        <div class="line-box">
            <div class="line r h"></div>
            <div class="line r h t"></div>
        </div>
        <div class="break">
        </div>
        <div class="line-box l">
            <div class="line f r"></div>
            <div class="line f l"></div>
        </div>
        <div class="line-box">
            <div class="line f r"></div>
            <div class="line f l"></div>
        </div>
        <div class="line-box">
            <div class="line f r"></div>
            <div class="line f l"></div>
        </div>
        <div class="line-box">
            <div class="line f r"></div>
            <div class="line f l"></div>
        </div>
        <div class="line-box">
            <div class="line f r"></div>
            <div class="line l h t"></div>
        </div>
    </div>
    <div class="w-2/3 md:w-1/3 mx-auto border-t border-gray-400 dark:border-gray-600 my-16"></div>
</div>