<div class="relative">
    <div class="w-2/3 md:w-1/3 mx-auto border-t border-gray-400 dark:border-gray-600 my-16"></div>
    <div id="random-line-art-container" class="lines h-[610px]">
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", (event) => {
        const numBoxes = 12;
        const linesContainer = document.getElementById("random-line-art-container");
        
        const fullX = () => {
            const lineBox = weightedRandomFunction(boxWeightsArray);
            
            let line;
            
            line = document.createElement("div");
            line.classList.add("line");
            line.classList.add("h");
            line.classList.add("r");
            lineBox.appendChild(line);
            
            line = document.createElement("div");
            line.classList.add("line");
            line.classList.add("h");
            line.classList.add("l");
            lineBox.appendChild(line);
            
            line = document.createElement("div");
            line.classList.add("line");
            line.classList.add("h");
            line.classList.add("r");
            line.classList.add("t");
            lineBox.appendChild(line);
            
            line = document.createElement("div");
            line.classList.add("line");
            line.classList.add("h");
            line.classList.add("l");
            line.classList.add("t");
            lineBox.appendChild(line);
            
            return lineBox;
        };
        
        const bottomV = () => {
            const lineBox = weightedRandomFunction(boxWeightsArray);
            
            let line;
            
            line = document.createElement("div");
            line.classList.add("line");
            line.classList.add("h");
            line.classList.add("r");
            lineBox.appendChild(line);
            
            line = document.createElement("div");
            line.classList.add("line");
            line.classList.add("h");
            line.classList.add("l");
            lineBox.appendChild(line);
            
            return lineBox;
        };
        
        const topV = () => {
            const lineBox = weightedRandomFunction(boxWeightsArray);
            
            let line;
            
            line = document.createElement("div");
            line.classList.add("line");
            line.classList.add("h");
            line.classList.add("r");
            line.classList.add("t");
            lineBox.appendChild(line);
            
            line = document.createElement("div");
            line.classList.add("line");
            line.classList.add("h");
            line.classList.add("l");
            line.classList.add("t");
            lineBox.appendChild(line);
            
            return lineBox;
        };
        
        const lineR = () => {
            const lineBox = weightedRandomFunction(boxWeightsArray);
            
            let line;
            
            line = document.createElement("div");
            line.classList.add("line");
            line.classList.add("h");
            line.classList.add("r");
            lineBox.appendChild(line);
            
            line = document.createElement("div");
            line.classList.add("line");
            line.classList.add("h");
            line.classList.add("r");
            line.classList.add("t");
            lineBox.appendChild(line);
            
            return lineBox;
        };
        
        const lineL = () => {
            const lineBox = weightedRandomFunction(boxWeightsArray);
            
            let line;
            
            line = document.createElement("div");
            line.classList.add("line");
            line.classList.add("h");
            line.classList.add("l");
            lineBox.appendChild(line);
            
            line = document.createElement("div");
            line.classList.add("line");
            line.classList.add("h");
            line.classList.add("l");
            line.classList.add("t");
            lineBox.appendChild(line);
            
            return lineBox;
        };
        
        const rightV = () => {
            const lineBox = weightedRandomFunction(boxWeightsArray);
            
            let line;
            
            line = document.createElement("div");
            line.classList.add("line");
            line.classList.add("h");
            line.classList.add("r");
            lineBox.appendChild(line);
            
            line = document.createElement("div");
            line.classList.add("line");
            line.classList.add("h");
            line.classList.add("l");
            line.classList.add("t");
            lineBox.appendChild(line);
            
            return lineBox;
        };
        
        const leftV = () => {
            const lineBox = weightedRandomFunction(boxWeightsArray);
            
            let line;
            
            line = document.createElement("div");
            line.classList.add("line");
            line.classList.add("h");
            line.classList.add("l");
            lineBox.appendChild(line);
            
            line = document.createElement("div");
            line.classList.add("line");
            line.classList.add("h");
            line.classList.add("r");
            line.classList.add("t");
            lineBox.appendChild(line);
            
            return lineBox;
        };
        
        const breakDiv = () => {
            const div = document.createElement("div");
            div.classList.add("break");
            return div;
        };
        
        const borderT = () => {
            const lineBox = document.createElement("div");
            lineBox.classList.add("line-box");
            lineBox.classList.add("t");
            return lineBox;
        };
        const borderR = () => {
            const lineBox = document.createElement("div");
            lineBox.classList.add("line-box");
            lineBox.classList.add("r");
            return lineBox;
        };
        const borderB = () => {
            const lineBox = document.createElement("div");
            lineBox.classList.add("line-box");
            lineBox.classList.add("b");
            return lineBox;
        };
        const borderL = () => {
            const lineBox = document.createElement("div");
            lineBox.classList.add("line-box");
            lineBox.classList.add("l");
            return lineBox;
        };
        const noBorder = () => {
            const lineBox = document.createElement("div");
            lineBox.classList.add("line-box");
            return lineBox;
        };
        
        const lineWeightsArray = [
        { "weight": 0, "function": fullX },
        { "weight": 8, "function": bottomV },
        { "weight": 0, "function": topV },
        { "weight": 8, "function": rightV },
        { "weight": 8, "function": leftV },
        { "weight": 5, "function": lineR },
        { "weight": 5, "function": lineL },
        { "weight": 3, "function": breakDiv }
        ];
        
        const boxWeightsArray = [
        { "weight": 0, "function": borderT },
        { "weight": 0, "function": borderR },
        { "weight": 0, "function": borderB },
        { "weight": 7, "function": borderL },
        { "weight": 10, "function": noBorder }
        ];
        
        const weightedRandomFunction = (weights) => {
            const sum = weights.reduce((acc, e) => acc + e.weight, 0);
            const rnd = Math.random();
            const normalizedWeights = []; 
            
            
            for (let i = 0; i < weights.length; i++) {
                let previous = i > 0 ? normalizedWeights[i-1].weight : 0;
                normalizedWeights.push({
                    "weight": weights[i].weight/sum + previous,
                    "function": weights[i].function
                });
            }
            
            console.log("sum", sum);
            console.log("rnd", rnd);
            console.log("weights", normalizedWeights);
            
            console.log(normalizedWeights.find(e => rnd <= e.weight));
            return normalizedWeights.find(e => rnd <= e.weight).function();
        };
        
        for (let i = 0; i < numBoxes; i++) {
            linesContainer.appendChild(weightedRandomFunction(lineWeightsArray));
        }
        
    });
</script>